@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
 --max-width: 1200px ;
}
/* le code en dessous me permet de gérer la de facon "par default" comme le background de la page ,*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
 }
main{
    margin-top: 80px;
    display: grid;
}
body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    background-color:white ;
    height: 100%;
    display: flex;
    flex-direction: column;
   
    width: 100%;
    
    
    
}    /* changement de style de font de ma classe logo*/
.logo{
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;
    cursor: pointer;


}
html{
    height: 100%;
    width: 100%;
}
/*le code en dessous nous permet e centrer le header */
header{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    padding-bottom: 5px ;
    padding-top: 10px;
    border-bottom: solid black 1px ;
}



/*les code en dessous nous permet d'enlever de design par defaut des lien */
a{
    text-decoration: none;
    
    
}
.nav__links a{
    list-style: none;
    color: black
}

/* le code en dessous me permet de mettre le contenue sur la meme ligne */
.nav__links li{
    display: inline-flex;
  
    padding: 0 5px;
}
/*les code en essous nous permet de donnez un effet de transition a la class selectionner */
.nav__links li a  {
    transition: transform.3  ;
}
.nav__links li a:hover{
    color: #0C969C;
}
.effet{
    transition: .2s;
}
.effet:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
    color: #FFFFFF;
}
/*le code en dessous va me permettre  de changer la le style d'un des élement de la navBAR */
.effet{
    font-family: Montserrat;;
}
/*les code en essous son pour une section dans la partie main du html*/
.section__hero{
    
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-content: space-between;margin-bottom: 0;
    bottom: 0;
    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitlte{
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: .5rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
}
title span{
    font-weight: 600;
}
.description{
    line-height: 1.5rem;
    margin-bottom: 2rem;
}
.action__btns{
    display: flex;
    gap: 1rem;
}
.action__btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.contact{
    background: none;
}
.contact:hover{
    color: #0C969C
    
}

.portfolio{
    background: none;
}
.portfolio:hover{
    color: #0C969C;
}
.image{
    display: grid;
    grid-row: auto;
    align-items: top;
    justify-content: center;
    margin-bottom: 0;
}
.image img{
    height: 350px;
    width: 270px;
    border-radius: 25%;
}
/*cette partie du code npus permet de gérer le responsive design de la page web, (les ecran en dessous de 750 pixel de large )*/
@media  (width < 750px) {
    .section__hero{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .action__btns{
        display: flex;
        justify-content: center; 
    }
    .image{
        display: inline;
        height: auto; 
    }
    
}
/*le code en dessous est la source de configuration du style du portfolio*/
.title__portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.portfolio__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap ;
}
.portfolio__item{
    background-color: none;
    padding: 5px;
    text-align: center;
    gap: 10px;
    transition: .2s;
}
.portfolio__item:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.portfolio__item img{
    border-radius: 50px;

}


.section__portfolio{
    
    margin-top: 150px;
}
.description__projets{
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 5px;
    margin-bottom: 1;
}

/*le code en dessous nous permet de fixer le footer en bas de la page */
footer{
    
display:flex;
    flex-direction: column;    
    margin-top: 50px;
    color: black;      
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background: none;
    border-top: solid black;
}

.nav__linksS a{
    list-style: none;
    color: black
}

/* le code en dessous me permet de mettre le contenue sur la meme ligne */
.nav__linksS li{
    display: inline-flex;
  
    padding: 0 5px;
}
/*les code en essous nous permet de donnez un effet de transition a la class selectionner */
.nav__linksS li a  {
    transition: transform.3  ;
}
.nav__linksS li a:hover{
    color: #0C969C;
}


/*le code en dessous va me permetre de crée un systeme "burger" pour les lien qui seront cacher suite au responsive design que je ferais  */
.burger{
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem ;

}

.burger .bar{
    width: 22px;
    height: 3px;
    background-color: black;
    display: block;
}
.burger .bar::after, 
.burger .bar::before{
    display: block;
    content: "";
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: black;
}
.burger .bar::before{
    transform: translateY(8px);
}
.burger .bar::after{
    transform: translateY(-8px);
}

@media screen  and (min-width:750px) {
    .burger{
        display: none;
    }
    
}
@media screen  and (max-width:749px) {
    .header{
        margin-top: 0;
        position: fixed;
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        z-index: 2;
        background: #ffffff;
        border-bottom: solid black 1px;

    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 55px;
        position: fixed;
        background: #FFFFFF ;
        height: calc(100vh - 5px) ;
        width: 0;
        overflow: hidden;
        opacity: 0;
        left: 110%;
        transition: all .4s ease-out;
    }
    .nav__links li {
        display: flex;
        justify-content: center;
    }
    .nav__links a {
        display: block;
        font-size: 2rem;
        padding: 2rem;
    }
    .show-nav nav {
        opacity: 1;
        width: 100%;
        left: 0;
        z-index: 2;
    }
    .show-nav .burger .bar{
        width: 0;
    }
    .show-nav .burger .bar::after{
        transform: rotate(-45deg);
    }
    .show-nav .burger .bar::before{
        transform: rotate(45deg);
    }
    .burger .bar::after ,
    .burger .bar::before{
transition: all .2s ease-out;
    }

    
    
}
    

/* je vais céer une classe pour le dark-mode de ma page */
.dark-mode{
    
    background-color: rgb(46, 46, 46);
    color: #FFFFFF;

    @media screen  and (max-width:749px) {
        .header{
            background:rgb(46, 46, 46) ;
            border-bottom: solid white 1px;
        }
        
    }
    .description__projets{
        color: white;
    }
    .portfolio{
        color: white;
    }
    .portfolio:hover{
        color: #0C969C;
    }
    .contact{
        color: white;
    }
    .contact:hover{
        color: #0C969C;
    
    }
    .header{
        border-bottom: solid white 1px;
    }
    .nav__links a{
        color: white;
    }
    footer{
        color: white;
        border-top: solid #FFFFFF;
    }
    nav{
        background: rgb(46, 46, 46);
    }
    .burger .bar{
        background-color: white;
    }
    .burger .bar::before,
    .burger .bar::after{
       background-color: white;
    }
}
.switch-dark-Mode{
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    top: 19px;
    background-color: none;
    background: none;
    cursor: pointer;
}

@media screen and (max-width:749px) {
    .switch-dark-Mode{
        right: 5px;
        top: 70px;
    }
}


/* reglage btn du  choix entre le mode nuit et jour , a refaire !!!!! */


.themSwitch{
    background-image:url("../image/logo/brightness-high-fill.svg ");
    background-size: 39px 39px;
    
    transition: .3s  ;
}
.themSwitch:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.imgDark{
    transition: .3s;
}
.imgDark:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* configuaration des popup*/
.popupContact{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 3;
    align-items: center;
    justify-content: center;
    
}
.popupContact.start{
    display: flex;
}
.backContainer{
    
    width: 400px;
   backdrop-filter: blur(10px);
   background-color: rgb(0, 0, 0,0.5);
    backdrop-filter: blur(10px) ;
    display: flex;
   padding: 10px;
    justify-content: center;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    align-items: center; 
    
    height: 400px;
}
.designName{
    font-family: Arial,  Helvetica, sans-serif;
    padding-left: 10px;
    border: none;
   height: 40px;
    border-radius: 10px;
    font-size: 17px;
    width: 70%;
    padding: 10px;
    
}
.designEmail{
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
   border-radius: 10px;
   border: none;
   padding-left: 10px;
    font-size: 17px;
    width: 70%;
    padding: 10px;
}
.designeMessage{
    font-family: Arial, Helvetica, sans-serif;
padding: 10px;
    font-size: 16px;
    height: 40px;
    border-radius: 10px;
    width: 70%;
    padding: 10px;
}
.button{
    display: flex;
    gap: 50px;
}
.submit{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 16px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.submit:hover{
    cursor: pointer;
}
.reset{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 16px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.reset:hover{
    cursor: pointer;
}
.popupDesign{
    
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
